/* || DOCUMENT || */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.heading {
    color: white;
    font-size: 30px;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: darkcyan;
    width: 1000px;
    height: 500px;

}

/* || GRID || */

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.grid-square {
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

/* || CONTROLS PANEL || */

.controls {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 800px;
    height: 80px;
}

.grid-menu {
    display: flex;
    flex-direction: column;

}

.start-button {
    width: 120px;
    height: 80px;
    padding: auto;
    text-align: center;
}

.reset-button {
    width: 120px;
    height: 80px;
}